@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
}

main{
    max-width: 800px;
    width: auto;
    text-align: center;
    margin: auto;
    padding: auto;
}

div{
    font-family: 'Roboto', sans-serif;
}


